body { 
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background: url('images/tech-background.jpg') no-repeat center center fixed;
    background-size: cover;
}

header {
    background: #c0d6f9;
    color: black;
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 10px 15px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 40px 20px;
}

#about, #work, #projects, #skills, #podcast, #contact, #intro {
    padding: 150px 50px;
    margin-top: 150px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
}

#intro {
    font-size: 2.5em;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.glitch {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    animation: glitch 0.5s infinite;
}

@keyframes glitch {
    0% { text-shadow: 2px 2px red, -2px -2px blue; }
    25% { text-shadow: -2px -2px red, 2px 2px blue; }
    50% { text-shadow: 2px -2px red, -2px 2px blue; }
    75% { text-shadow: -2px 2px red, 2px -2px blue; }
    100% { text-shadow: 2px 2px red, -2px -2px blue; }
}

.about-container {
    display: flex;
    align-items: center;
    gap: 200px;
}

.profile-img {
    width: 200px;
    height: 250px;
    border-radius: 10%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.about-text {
    max-width: 800px;
}

.about-text h2 {
    font-size: 40px;
    font-weight: bold;
}

.about-text p {
    font-size: 16px;
    line-height: 2;
}

html{
    scroll-behavior: smooth;
}

#work {
    text-align: left;
}

.work-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.work-link {
    text-decoration: none;
    font-weight: bold;
    color: #007bff;
    transition: 0.3s;
}

.work-link:hover {
    text-decoration: underline;
    color: #0056b3;
}

.work-entry h3 {
    font-size: 20px;
    margin-bottom: 5px;
}

.projects-container {
    display: flex;
    gap: 30px;
    margin: 0 auto;
}

.project-card {
    background: #614e80;
    padding: 30px;
    border-radius: 40px;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin: 10px ;
}

.skill-column {
    background: rgba(207, 49, 49, 0.942);
    padding: 20px;
    border-radius: 40px;
    text-align: left;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.skill-column h3 {
    text-align: center;
    margin-bottom: 10px;
}

.podcast-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px; 
    padding: 100px 20px;
}

.kanaka-logo {
    width: 200px;
    height: 200px;
    border-radius: 100px;
}

.podcast-description {
    width: 40%; 
    max-width: none;
    height: auto; 
    margin: 20px 0;
    border-radius: 20px; 
}

footer {
    background: #222;
    color: white;
    padding: 15px;
    
}
